nav.nav a {
    color: #707070;
}

.sin-cat {
    background-color: whitesmoke;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 30px 30px 50px lightgray;
    margin-top: 30px;
}

.btn {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}

.btn:hover {
    background-color: #FF9D00;
    border: 1px solid #FF9D00;
}

.card {margin-bottom: 40px;box-shadow: 10px 10px 15px #dddddd;text-align: center;}

.card img {
    max-height: 300px;
    width: auto;
    padding: 30px 40px 0px 40px;
}

.card-body {
    padding-bottom: 40px;
}

header {
    padding: 20px 0;
}

section {
    margin-bottom: 100px;
}

.sec-head {
    margin: 30px 0;
}

.see-all-btn {
    color: #FF9D00;
}

.price {
    padding: 25px;

}

h2.ct {
    margin-bottom: 50px;
    padding-bottom: 12px;
    position: relative;
}

h2.ct::before {
    content: "";
    height: 5px;
    width: 80%;
    background: #ff9d00;
    position: absolute;
    margin-top: 55px;
    margin-left: 10%;
}
